*{
    margin: 0px;
    padding: 0px;
    font-family: "Microsoft YaHei";
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
    color: rgb(73,73,73);
}
.wrapper{
    height: 100%;
}
.section{
    overflow: hidden;
    height: 100%;
    text-align: center;
    background-size: 100% 100%;
    background-size: cover;
    /* background-attachment: fixed; */
    background-image: url(../image/background.png);
}
.page5{
    background-image: url(../image/bgim.png);
}
.layer{
    position: relative;
    width: 100%;
    height: 100%;
    top: 40%;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
.red{
    color: rgb(175,27,27);
}
.font60{
    font-size: 60px;
}
.font50{
    font-size: 50px;
}

.pullDown{
    width: 0px;
    height: 0px;
    position: absolute;
    /* text-align: center; */
    top:53%;
    left: calc(50% - 40px);
    display: inline-block;
    /* text-align: center; */
    border-top: 30px  solid #A32424;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    cursor: pointer;
}




.page1{
    font-size: 5rem;
    font-weight: bold;
}
.page1 p::before{
    content: '';
    display: inline-block;
    position: relative;
    width: 5rem;
    height: 5rem;
    top: 10px;
    left: -20px;
    background-image: url(../icon/heart.png);
    background-size: 100% 100%;
}

.page2{
    font-weight: bold;
    font-size: 2rem;
}
.page2 p{
    position: relative;
}
.page2 p:first-child{
    font-size: 4.8rem;
    top: -15%;
}
.page2 p:nth-child(2){
    top: -15%
}
.page2 p:nth-child(3){
    top: -7%;
}
.page2 p:nth-child(4){
    top: -3%;
}
.page2 p:nth-child(3) span:first-child{
    font-size: 60px;
}

.page3{
    font-weight: bold;
    font-size: 2rem;
}
.page3 p{
    position: relative;
}
.page3 p:first-child{
    top: -10%
}
.page3 p:nth-child(2){
    top:-10%;
    left: -22%;
}
.page3 p:nth-child(3){
    top:-2%;
}
.page3 p:nth-child(4){
    top:2%;
}

.page4{
    font-weight: bold;
    font-size: 2rem;
}
.page4 p{
    position: relative;
}
.page4 p:first-child{
    top: -12%;
}
.page4 p:nth-child(2){
    top: -8%;
}
.page4 p:nth-child(3){
    top: -4%;
}
.page4 p:nth-child(5){
    position: absolute;
    /* text-align: center; */
    margin: 0 auto;
    display: inline-block;
    top: 47%;
    font-size: 1.5rem;
    font-weight: normal;
    left: calc(50% - 4.5em)
}





.page5{
    font-size: 1.1rem;
    position: relative;
    color: rgb(70,70,70);
}
#mysvg{
    margin: 0 auto;
}
.page5 .countryMap{
    /* display: inline-block; */
    /* text-align: center; */
    position: absolute;
    left: calc(50% - 200px);
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #fff;
}
.page5 .dataEn{
    color: rgb(129,84,84);
    font-family: 'HGHZ_CNKI';
    line-height: 1rem;
    font-size: 1rem;
}

.page5 .tableBox{
    position: absolute;
    text-align: left;
    float: left;
    top: 7%;
    left: 5%;
}
.page5 .tableBox .data-countryCh{
    font-weight: bold;
    font-size: 1.6rem;
}
.page5 .tableBox .area{
    position: relative;
    top: 40px;
}
.page5 .tableBox .area p:first-child .tex{
    position: relative;
    left: 130px;
}
.page5 .tableBox .area p:last-child .tex{
    position: relative;
    left: 100px;
}
.page5 .tableBox .population{
    position: relative;
    top: 60px;
}
.page5 .tableBox .population p:first-child .tex{
    position: relative;
    left: 130px;
}
.page5 .tableBox .population p:last-child .tex{
    position: relative;
    left: 130px;
}
.page5 .tableBox .deathRate{
    position: relative;
    top: 80px;
}
.page5 .tableBox .deathRate p:first-child .tex{
    position: relative;
    left: 70px;
}
.page5 .tableBox .deathRate p:nth-child(3) .tex{
    position: relative;
    left: 60px;
}
.page5 .desc{
    position: relative;
    top: 100px;
    float: left;
}

/* 滚动 */
.page5 .box{
	height: 20px;
	position: absolute;
	overflow: hidden;
}
.page5 .box span{
	display: inline-block;
	width: 12px;
	height: 100%;
	font-size: 20px;
	line-height: 20px;
}
.page5 .box .sign-box span{
    width: 12px; 
    height: 20px;  
    position: relative;
    top: -4px; 
}
.page5 .box .digit-container{
    width: 12px;
    text-align: center;
    overflow: hidden;
    font-size: 0;
}
.page5 .desc p:nth-child(2){
    font-size: 13px;
}

.page5 .l{
    float: left;
}

.page5 .legend{
    background-image: url(../image/legend.png);
    width: 50%;
    height: 50%;
    position: absolute;
    pointer-events:none;
    background-repeat: no-repeat;
    background-size: 30%;
    z-index:1000;
    left: 80%;
    float: left;
    top:50%
}
.page5 .barchart{
    background-image: url(../image/barchart.png);
    width: 20%;
    height: 100%;
    position: absolute;
    pointer-events:none;
    background-repeat: no-repeat;
    background-size: 30%;
    z-index:1000;
    left: 1%;
    float: left;
    top:50%
}
.page5 .icons{
    background-image: url(../image/icon.png);
    width: 88px;
    height: 100%;
    position: absolute;
    pointer-events:none;
    background-repeat: no-repeat;
    background-size: 30%;
    z-index:1000;
    left: 6%;
    float: left;
    top:54%
}